html,
body,
#root {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.table-header {
  background-color: #f7f7f7;
  padding: 10px;
}
.table-header-item{
  font-weight: bold;
}
.table-row {
  margin-top: 10px;
  padding: 10px;
}
.table-row:nth-child(odd) {
  background-color: #f7f7f7;
}
.footer{
  margin-top:20px;
}
.footer-button{
  width:100px;
  border:1px solid #333;
  border-radius: 5px;
  margin-right: 10px;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}
.details-button{
  width:30px;
  background-color: #ccc;
  border:none;
}
.detail-section{
  margin-top:5px;
  background-color: #f7f7f7;
  min-height:100px;
  height:auto;
  padding:10px;
}
.details-title{
  padding-top:10px;
}
.user-details{
  margin-top:10px;
}
.film-details{
  margin-bottom: 10px;
}